* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* utilities */
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.center {
    align-items: center;
}

.clearfix {
    overflow: auto;
}

.margin {
    width: 1000px;
    margin: 0px auto;
    padding-top: 100px;
}

.margin-close {
    width: 850px;
    margin: 0px auto;
    padding-top: 0px;
}

.column {
    flex-direction: column;
}

.blue {
    background-color: #0161ff;
    color: white;
}

/* content */

/* header */
header {
    height: 70px;
    background-color: white;
    width: 100%;
    position: fixed;
}

.nav>* {
    padding: 0 10px;
    margin: 0 5px;
}

.logo {
    height: 20px;
}

.start {
    height: 20px;
}


/* main */

/* presentation */
.presentation {
    background-color: #b4d0e7;
    height: 600px;
}

h1 {
    font-size: 70px;
}


.img-jumbo {
    width: 700px;
    justify-self: flex-end;
}

/* plan */
.plan {
    height: 1200px;
    background-color: white;
}

.padding-top-fixed {
    padding-top: 150px;
}

h2 {
    font-size: 30px;
    padding-bottom: 40px;
}

.container2 {
    flex-wrap: wrap;
}

.type {
    width: calc(100% / 3 - 15px);
    margin: 0 15px 0 0;
    height: 700px;
    border: 1px solid black;
}

.margin-plan {
    margin: 5px 10px;
}

.enterprise {
    width: 98.5%;
    height: 150px;
    border: 1px solid black;
    margin-top: 15px;
}


/* partner */
.partner {
    height: 400px;
    margin-bottom: 100px;
}

.img-partner {
    width: 450px;
}

/* operations */
.operations {
    height: 1200px;
}

.card {
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
}

.container3 {
    flex-wrap: wrap;
}

/* companies */
.companies {
    height: 300px;
}

/* squares */
.squares {
    width: 100%;
    height: 1000px;
}

/* faq */
.faq {
    height: 500px;
}

h3 {
    font-size: 30px;
    padding-bottom: 60px;
}

.faq>div {
    padding: 30px 0 30px 0;
}

/* footer */
footer {
    background-color: #000000;
    height: 400px;
    color: white;
}

.small-hr {
    width: 10%;
    margin: 100px 0 30px;
}