* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* utilities */
.flex {
    display: flex;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-between {
    justify-content: space-between;
}

.center {
    align-items: center;
}

.clearfix {
    overflow: auto;
}

.margin {
    width: 1000px;
    margin: 0px auto;
    padding-top: 100px;
}

.margin-close {
    width: 850px;
    margin: 0px auto;
    padding-top: 0px;
}

.column {
    flex-direction: column;
}

.blue {
    background-color: #0161ff;
    color: white;
    border: none;
    padding: 4px;
    text-align: center;
}


.wrap {
    flex-wrap: wrap;
}

img {
    width: 100%;
}

/* content */

/* header */
header {
    height: 70px;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.nav>* {
    margin: 0 10px;
}

.logo {
    width: 25%;
}

.start {
    height: 20px;
}


/* main */

/* presentation */
.presentation {
    background-color: #b4d0e7;
    height: 600px;
}

h1 {
    font-size: 70px;
    padding-bottom: 40px;
}

.jumbo-text>* {
    margin: 10px;
}


.img-jumbo {
    width: 700px;
    justify-self: flex-end;
    position: relative;
}

/* plan */
.plan {
    height: 1300px;
    background-color: white;
}

.padding-top {
    padding-top: 150px;
}

h2 {
    font-size: 30px;
    padding-bottom: 40px;
}

.container2 {
    flex-wrap: wrap;
    margin-top: 50px;
}

.type {
    width: calc(100% / 3 - 15px);
    padding: 0 15px;
    height: 800px;
    border: 1px solid black;
}

.margin-plan div:first-child {
    border-bottom: 1px solid black;
    margin: 0;
    padding: 5px 10px;
    text-align: center;
}


.margin-plan>* {
    margin: 10px 10px;
}

.enterprise {
    width: 100%;
    height: 150px;
    border: 1px solid black;
    margin-top: 15px;
}

.enterprise>* {
    padding: 10px 5px;
}

.contact {
    width: 160px;
    align-self: flex-end;
}




/* partner */
.partner {
    height: 400px;
    margin: 100px 0;
    font-size: 1.1rem;
    font-weight: 200;
}

.partner-text>* {
    margin: 10px 50px 10px 50px;
}

.partner button {
    width: 150px;
    background-color: white;
    padding: 10px;
}

.img-partner {
    width: 450px;
}

/* operations */
.container3 {
    row-gap: 30px;
}

.operations {
    height: 1200px;
}

.card {
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
}

.card>* {
    margin: 0 0 10px 0;

}

.container3 {
    flex-wrap: wrap;
}

/* companies */
.companies {
    height: 300px;
}

/* squares */
.squares {
    width: 100%;
}

.company-blocks>div {
    width: calc(100% / 3);
}

.block-container {
    height: 30vw;
}

.feedback-container {
    width: calc(100% -60vw);
}

.square {
    width: 15vw;
    height: 15vw;
    justify-content: center;
}

.square img {
    width: 80%;
    filter: invert(1);
}


.designIT {
    background-color: #a2d39b;
}

.asu {
    background-color: #62092b;
}

.ufl {
    background-color: #b4d0e7;
}

.topps {
    background-color: #ff1b1c;
}

.wbr {
    background-color: #d50020;
}

.hearst {
    background-color: #b4d0e7;
}

.lonely {
    background-color: #0d2481;
}

.clearChannel {
    background-color: #ffd830;
}


.free-trial {
    background-color: #b4d0e7;
    width: 100%;
    height: 300px;
    align-items: center;

}

.free-trial div:first-child {
    font-size: 30px;
    color: #62092b;
    font-weight: 600;
}

.free-trial button {
    padding: 10px 35px;
    border: none;
}

/* faq */
.faq {
    height: 500px;
    padding-top: 100px;
}

h3 {
    font-size: 30px;
    padding-bottom: 60px;
}

.faq>div {
    padding: 30px 0 30px 0;
}

/* footer */
footer {
    background-color: #000000;
    height: 450px;
    color: white;
}

.small-hr {
    width: 10%;
    margin: 100px 0 30px;
}

.footer-padding>* {
    padding: 5px 0;
}